@charset "utf-8";

html {
	overflow-y: scroll; /* for mozilla: always display scrollbar */
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote, table, th,td,
tbody, tfoot, thead, object, iframe, code, fieldset, legend, caption,
article, aside, figure, footer, header, hgroup, menu, nav, section, audio, video, canvas {
	margin: 0;
	padding: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style: normal;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption,th {
	text-align: left;
}
q:before,q:after {
	content: '';
}
object,
embed {
	vertical-align: top;
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight:normal;
}
img,abbr,acronym,fieldset {
	border: 0;
}
li {
	list-style-type: none;
	zoom:1;
}

a:active, a:focus{ outline:none; } 
a{
	color:#000;
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
}

br {
	letter-spacing:normal;
}

img {
	-ms-interpolation-mode: bicubic;
	vertical-align:bottom;
	max-width: 100%;
}

/*--- default */
html {
	font-size: 62.5%;
}

body {
	color: #000;
	font-size: 1.4rem;
	font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro", Osaka, "MS P Gothic", sans-serif;
	-webkit-text-size-adjust: 100%;
}


* html body {	/* for IF6 */
	font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro", Osaka, "MS P Gothic", sans-serif;
}

