/*@media screen and (min-width: 240px) and (max-width: 1110px) {
}*/

@media screen and (min-width: 240px) and (max-width: 768px) {
	body p,
	body li {
		font-size: 8px;
	}

	/*------------
	ヘッダー
	-------------*/

	#header_wrapper {
	width: 100%;
	height: 400px;
	margin: 0 auto;
	display: flex;
	position: relative;
	}

	#header {
	width: 100%;
	position: relative;
	top: auto;
	left: auto;
	margin: 0;
	text-align: center;
	}



	/*------------
	フッター
	-------------*/

	footer{
	height: 140px;
	background-color: #fec526;
	color: #1c1214;
	width: 100%;
	position: relative;
	text-align: center;
	}

	footer ul{
		width: 100%;
		text-align: center;
		font-size: 8px;
		padding-top: 20px;
	}

	footer ul li{
		display: inline;
		margin-right: 5px; 
	}

	footer ul li:last-child{
		margin-right: 0px; 
	}

	footer h5 {
		width: 100%;
		text-align: center;
		font-size: 8px;
		position: absolute;
		bottom: 77px;
	}

	footer #footer_logo{
		width: 130px;
		height: 33px;
		position: static;
		margin: 45px auto 0;
	}

	footer #footer_logo img{
		width: 130px;
	}

}

	/*@media screen and (min-width: 240px) and (max-width: 500px) {
		#header {
			min-height: 300px;

	}*/
}