/*------------
初期設定
-------------*/

body, body p, body li {padding:0; 
    font-family: "游ゴシック Medium","Yu Gothic Medium","游ゴシック体",YuGothic,sans-serif;
    word-break: break-all;
    word-wrap: break-word;
}


a {
	text-decoration: none;
	outline: none;
	color: #1c1214;
}

.hover:hover{
	opacity: 0.7;
}

.video_modal{
	text-decoration: underline;
}

h1{
	font-weight: bold;
	font-size: 3.5em;
	color: #fff;
	padding-top: 35px;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.4);
	z-index: 9999;

}

h2{
	font-size: 18px;
	color: #fff;
	padding-top: 40px;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.4);
	z-index: 9999;

}

h3{
	font-weight: bold;
	font-size: 30px;
	color: #2a8473;
	padding-top: 10px;
}

h5{
	font-weight: bold;
	font-size: 18px;
	color: #222;
	padding-bottom: 20px;
}

h6{
	font-weight: bold;
	color: #222;
	font-size: 26px;
	text-align: center;
	padding-bottom: 2em;
}
.h7{
	font-weight: bold;
	color: #222;
	font-size: 1.3em;
}

.sub_title{
	font-weight: bold;
	color: #222;
	font-size: 1.1em;
}

.text_contract{
	/*font-weight: bold;*/
	color: #222;
	font-size: 1em;
	padding-bottom: 2em;
}

.min_text{
	font-size: 0.9em;
}

@media screen and (max-width: 960px) {
h3{
	font-weight: bold;
	font-size: 30px;
	color: #2a8473;
	padding-top: 0px;
}

}

.text_deco{
	font-weight: 700;
	/*text-decoration: underline;*/
}

.cp_hidden{
	display: none;
}

.pc_block{
	display: block;
}

.tab_block{
	display: none;
}

.scroll-container {
  scroll-behavior: smooth;
}

.finish_mv{
	/*width: 360px;*/
	font-size: 40px;
	font-weight: bold;
	color: #fff;
	text-shadow:0px 0px 15px #000;
	padding: 10px 0;
	margin:40px auto 0;  
}

.finish{
	font-size: 17px;
	font-weight: bold;
	color: #FF5F5F;
	background-color: #fff;
	padding: 10px 0;
	margin-top: 10px;  
}

/*------------
全体ラッパー
-------------*/

#wrapper {
	width: 100%;
	margin: 0 auto;
	position: relative;
/*
	background-image: url("../img/ back_shape.png");
	background-size: contain;
*/
}

/*ロゴ*/

#wrapper > #logo_wrap{
	width: 100%;
	height: 60px;
	padding-top: 15px;
	background-color: #fff; 
}

#wrapper > #logo_wrap > #logo_gl{
	width: 270px;
	margin: 0 auto;
}

@media screen and (max-width: 767px) {
#wrapper > #logo_wrap{
	width: 100%;
	height: 45px;
	padding-top: 10px;
	background-color: #fff; 
}

#wrapper > #logo_wrap > #logo_gl{
	width: 200px;
	margin: 0 auto;
}
}

/*------------
ヘッダー
-------------*/

#header_wrapper {
	width: 100%;
	height: 801px;
	min-width: 960px;
	background-image: url('../img/top_view.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	-webkit-clip-path: polygon(100% 0, 100% 92%, 50% 100%, 0 92%, 0 0);
	clip-path: polygon(100% 0, 100% 92%, 50% 100%, 0 92%, 0 0);
	margin: 0 auto;
}

#header_wrapper > #header{
	width: 100%;
	max-width: 1250px;
	min-width: 960px;
	height: 801px;
	margin: 0 auto;
	text-align: center;
	position: relative;
	overflow: hidden;
}

.deco_h1{
	font-size: 60px;
	color: #fff;
	background: linear-gradient(to right, #2a8473, #adc254);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: 0 0px;
}

#header_wrapper > #header > #photo_l{
	position: absolute;
	z-index: 0;
	left: 0px;
	top: -10px;
}

#header_wrapper > #header > #photo_r{
	position: absolute;
	z-index: 0;
	right: 0px;
	top: -50px;
}

@media screen and (max-width: 1200px) {

#header_wrapper > #header > #photo_l{
	position: absolute;
	left: -70px;
	top: -10px;
}

#header_wrapper > #header > #photo_r{
	position: absolute;
	right: -50px;
	top: -50px;
}
}

#header_wrapper > #header > #logo_sns{
	width: 100%;
	max-width: 149px;
	margin: 0 auto;
	padding-top: 50px;
	filter: drop-shadow(0px 1px 2px rgba(0,0,0,0.4));
}

#header_wrapper > #header > #period{
	width: 100%;
	max-width: 270px;
	margin: 0 auto;
	padding-top: 40px;
	filter: drop-shadow(0px 1px 2px rgba(0,0,0,0.4));
}

#header_wrapper > #header > #btn_appli{
	width: 100%;
	max-width: 300px;
	margin: 0 auto;
	padding-top: 75px;
}

.btn_wrap {
  padding-top: 60px;
}

.button {
	width: 300px;
  	height: 60px;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	font-weight: 500;
	color: #fff;
	background-color: rgba(255,255,255,0.3);
	border: none;
	border-radius: 45px;
	box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
	cursor: pointer;
	outline: none;
}
@media screen and (min-width: 767px) {
.button:hover {
  background-color: #2a8473;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
  color: #fff;
  transform: translateY(-7px);
}

}


@media screen and (max-width: 960px) {
.sp_hidden{
	display: none;
}

.pc_block{
	display: none;
}

.tab_block{
	display: block;
}
h1{
	font-weight: bold;
	font-size: 21px;
	color: #fff;
	padding-top: 20px;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.4);

}
	
h2{
	width: 80%;
	margin: 0 auto;
	font-size: 12px;
	color: #fff;
	padding-top: 20px;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.4);

}

.finish_mv{
	/*width: 360px;*/
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	text-shadow:0px 0px 15px #000;
	padding: 10px 0;
	margin:40px auto 0;  
}

.deco_h1{
	font-size: 24px;
	color: #fff;
	background: linear-gradient(to right, #2a8473, #adc254);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: 0 0px;
}

#header_wrapper {
	width: 100%;
	height: 450px;
	min-width: 320px;
	background-image: url('../img/top_view.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	-webkit-clip-path: polygon(100% 0, 100% 92%, 50% 100%, 0 92%, 0 0);
	clip-path: polygon(100% 0, 100% 92%, 50% 100%, 0 92%, 0 0);
	margin: 0 auto;
}

#header_wrapper > #header{
	width: 100%;
	max-width: 960px;
	min-width: 320px;
	height: 450px;
	margin: 0 auto;
	text-align: center;
	position: relative;
	overflow: hidden;
}

#header_wrapper > #header > #photo_l{
	width: 150px;
	position: absolute;
	left: -100px;
	top: -30px;
}

#header_wrapper > #header > #photo_r{
	width: 110px;
	position: absolute;
	right: -70px;
	top: -30px;
}
#header_wrapper > #header > #logo_sns_sp{
	max-width: 150px;
	margin: 0 auto;
	padding-top: 20px;
	filter: drop-shadow(0px 1px 2px rgba(0,0,0,0.2));
}

#header_wrapper > #header > #period{
	max-width: 170px;
	margin: 0 auto;
	padding-top: 20px;
	filter: drop-shadow(0px 1px 2px rgba(0,0,0,0.4));
}

.btn_wrap {
  padding-top: 20px;
}

.button {
	width: 220px;
  	height: 60px;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	font-weight:400;
	color: #fff;
	background-color: rgba(255,255,255,0.3);
	border: none;
	border-radius: 45px;
	box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
	outline: none;
}
/*
.button:hover {
  background-color: #2a8473;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
  color: #fff;
  transform: translateY(-7px);
}
*/


}


/*------------
メインコンテンツ
-------------*/
#back_img_1{
	width: 100%;
	position: absolute;
	top: 1600px;
	left: 0;
	z-index: -2;
}

#back_img_2{
	width: 100%;
	position: absolute;
	top: 2700px;
	left: 0;
	z-index: -2;
}

#back_img_3{
	width: 100%;
	position: absolute;
	bottom: 0px;
	left: 0;
	z-index: -2;
}

@media screen and (max-width: 960px) {
#back_img_1{
	width: 100%;
	position: absolute;
	top: 1300px;
	left: 0;
	z-index: -2;
}

#back_img_2{
	width: 100%;
	position: absolute;
	top: 3050px;
	left: 0;
	z-index: -2;
}

#back_img_3{
	width: 100%;
	position: absolute;
	bottom: 0px;
	left: 0;
	z-index: -2;
}
}

@media screen and (max-width: 896px) {
#back_img_1{
	width: 100%;
	position: absolute;
	top: 1242px;
	left: 0;
	z-index: -2;
}

#back_img_2{
	width: 100%;
	position: absolute;
	top: 3058px;
	left: 0;
	z-index: -2;
}

#back_img_3{
	width: 100%;
	position: absolute;
	bottom: 0px;
	left: 0;
	z-index: -2;
}
}


section{
	padding:50px 0;
}

.sec_title{
	margin: 0 auto;
	padding-bottom: 40px;
	width: 100%;
	max-width: 400px;
}


.sec_title > li{
	float:left;
	/*width:16.6%;*/
/*	padding-right: 20%;*/
	margin-bottom:1em;
	text-align:center;
}

.sec_title > li:last-child{
	padding-right: 0;
}

.slash_l{
	width: 10%;
}

.slash_r{
	width: 10%;
}

.title_text{
	width: 80%;
}


@media screen and (max-width: 960px) {
.sec_title{
	margin: 0 auto;
	padding-bottom: 40px;
	width: 222px;
/*	text-align: center;*/
	/*	min-width: 310px;*/
}


.sec_title > li{
	float:left;
	margin-bottom:1em;
	text-align:center;
}

.sec_title > li:last-child{
	padding-right: 0;
}

.slash_l{
	width: 10px;
	padding-top: 5px;
}

.slash_r{
	width: 10px;
	padding-top: 5px;
}

.title_text{
	width: 200px;
}

}

/*プレゼント*/


#present{
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}

#present > #coup_wrap{
	position: relative;
}


.pres_l{
	width: 95%;
	max-width: 960px;
/*	min-width: 767px;*/
	margin: 0 auto;
}

#pres_s{
	width: 95%;
	max-width: 960px;
/*	min-width: 767px;*/
	margin: 0 auto;
	padding: 20px 0;
}

#pres_s > #tv{
	width: 49%;
}

#pres_s > #fan{
	width: 49%;
}

#present > #coup_wrap > #link_store{
	position: absolute;
	bottom: 20%;
	right: 8%;
	color: #2a8473;
	font-size: 19px;
	text-decoration: underline;
}

@media screen and (max-width: 960px) {
#present > #coup_wrap > #link_store{
	position: absolute;
	bottom: 20%;
	right: 7%;
	color: #2a8473;
	font-size: 19px;
	text-decoration: underline;
}


}


@media screen and (max-width: 767px) {
.hidden_767{
	display: none;
}
.cp_hidden{
	display: block;
}

#present{
	width: 100%;
	min-width: 310px;
	margin: 0 auto;

}

#present > #coup_wrap{
	position: relative;
}


.pres_l{
	width: 95%;
	min-width: 310px;
}

#pres_s{
	width: 95%;
	min-width: 310px;
	margin: 0 auto;
	padding: 20px 0;
}

#pres_s > #tv{
	width: 49%;
}

#pres_s > #fan{
	width: 49%;
}
}



/*応募方法*/

#appli{
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	text-align: center;

}

#step_wrap{
	min-width: 767px;
}

.step_box{
	width: 30%;
	padding: 0 1%;
	text-align: center;
	float: left;
}

.step_arrow{
	width: 2%;
	float: left;
}

.step_banner{
	width: 90%;
	padding-bottom: 10px;
	margin: 0 auto;
}

.title_step{
	margin: 0 auto;
	padding-bottom: 20px;
	max-width: 178px;
}

.step_text{
	font-size: 13px;
	color: #222;
	padding-bottom: 20px;
}

.step_box > #img_step2{
	width: 80%;
	margin: 0 auto;
}

.step_box > #tag_copy{
	position: relative;
}

#tag_copy input {
    width: 100%;
    color: #222;
    font-size: 10px;
    box-sizing: border-box;
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, 游ゴシック体, "ヒラギノ角ゴ Pro W3", メイリオ, sans-serif;
    font-weight: bold;
    padding: 20px 0 20px 60px;
    text-decoration: underline;
	outline: 1px;
	border: solid 1px #2a8473;
}

#tag_copy > #file_img{
	width: 23px;
	position: absolute;
	top: 14px;
	left: 20px;
}

.step_box > #tag_copy > #all_select{
	font-size: 11px;
	min-width: 300px;
	text-decoration: underline;
	position: absolute;
	top: 2em;
	left: 1em;
}

/*
.step_box > #tag_copy > input{
	min-width: 220px;
	text-decoration: underline;
	position: absolute;
	top: 2em;
	left: 5em;
	border:solid 0px;
}
*/

/*
input[type="text"]:focus {
  outline: 0;
}
*/

@media screen and (max-width: 960px) {
#appli{
	width: 95%;
	min-width: 310px;
	margin: 0 auto;

}

#step_wrap{
	min-width: 310px;
}

.step_box{
	width: 100%;
	text-align: center;
}

.step_banner{
	width: 312px;
	padding-bottom: 10px;
	margin: 0 auto;
}
	
.step_banner:last-child{
	padding-bottom: 40px;
}

.title_step{
	max-width: 225px;
	margin: 0 auto;
	padding-bottom: 30px;
}

.step_text{
	font-size: 13px;
	color: #222;
	padding-bottom: 30px;
}

.step_box > #img_step2{
	width: 310px;
	margin: 0 auto;
	padding-bottom: 40px;
}

.step_box > #tag_copy{
	width: 310px;
	margin: 0 auto;
	position: relative;
}

.step_box > #tag_copy > #all_select{
	font-size: 12px;
	min-width: 300px;
	text-decoration: underline;
	position: absolute;
	top: 2em;
/*	left: 0;*/
}

}




/*例えばこんな投稿*/

#example{
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	text-align: center;
}

#example > #arrow_bt{
	margin: 0 auto;
}

#example > #title_example{
	padding-top: 1em;
	padding-bottom: 1em;
	color: #222;
	font-weight: bold;
	font-size: 20px;
}

#example > ul{
    margin: 0 auto;
    width: 100%;
}
#example > ul > li{
    margin-right: 20px;
    list-style-type:none;
    float: left;
    width: 31%;
	box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.1);
}

#example > ul > li:first-child{
    margin-left: 1%;
}

#example > ul > li:last-child{
    margin-right: 0px;
}

@media screen and (max-width: 767px) {
#example > ul{
	width: 95%;
	margin: 0 auto;
	text-align: center;
	
}

#example > ul > li:first-child{
    margin-left: auto;
}

#example > ul > li{
	margin: 0 auto 20px;
    list-style-type:none;
    float: none;
    width: 90%;
	box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.1);
}

#example > ul > li:last-child{
	margin: 0 auto 20px;
}
}
/*
#example > #images{
	display: grid;
	gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

#example > #images > li{
	width: 100%;
	max-width: 300px;
	margin: 0 auto;
	box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.1);
}
*/

/*みんなの投稿*/

#post{
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}


/*キャンペーン*/

#campaign{
	max-width: 960px;
	margin: 0 auto;
}

#campaign > #camp_text{
	max-width: 90%;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 2em;
}

#campaign > #camp_banner{
	max-width: 90%;
	margin: 0 auto;
	text-align: center;
}

/*キャンペーン*/

#contract{
	width: 100%;
	margin: 0 auto;
	background-image: url('../img/pattern.png');
	background-repeat: repeat;
}

#contract > #acordion_wrap{
	width: 95%;
	max-width: 960px;
	margin: 0 auto;
	padding: 60px 0;
}
label{
	font-size: 16px;
}
.cp_actab {
	position: relative;
	overflow: hidden;
	width: 100%;
	margin: 0 auto;
	color: #ffffff;
}
.cp_actab input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.cp_actab label {
	line-height: 4;
	position: relative;
	display: block;
	text-align: center;
	cursor: pointer;
	margin: 0 0 1px 0;
	background: #2a8473;
}
.cp_actab .cp_actab-content {
	overflow: hidden;
	max-height: 0;
	-webkit-transition: max-height 1.5s;
	transition: max-height 1.5s;
	color: #222;
	background: #fff;
}
.cp_actab .cp_actab-content p {
	margin: 0.6em 1em;
}
.cp_actab .cp_actab-content p a{
	color: #0600FF;
	text-decoration: underline;
}
/* :checked */
.cp_actab input:checked ~ .cp_actab-content {
	max-height: 800em;
}
/* Icon */
.cp_actab label::after {
	font-size: 30px;
	line-height: 2;
	position: absolute;
	top: 0px;
	right: 0;
	display: block;
	width: 2em;
/*	height: 3em;*/
	-webkit-transition: all 0.6s;
	transition: all 0.6s;
	text-align: center;
}
.cp_actab input[type=checkbox] + label::after {
	content: '＋';
}
.cp_actab input[type=checkbox]:checked + label::after {
	transform: rotate3d(0, 0, 1, 135deg);
	-webkit-transform: rotate3d(0, 0, 1, 135deg);
}



/*------------
フッター
-------------*/

.inner{
	max-width:960px;
	margin: 0 auto;
}
.inner .noSpace{
	margin:0px auto 1em auto;
}
@media screen and (max-width: 767px) {
.inner{
	margin-left:14px;
	margin-right:14px;
}
.inner .noSpace{
	margin:auto -14px 1em -14px;
}
}

footer {
	border-top:#e5e5e5 solid 1px;
}
footer #brandList {
	max-width:960px;
	margin: 3em auto 2em;
	overflow:hidden;
	clear:both;
}
footer #brandList .titBrandList{
	font-size:28px;
/*	font-family:"Noto Sans Japanese";*/
	text-align:center;
	margin:0 auto 1.5em;
	font-weight:bold;
}
footer #brandList li {
	float:left;
	border-left:#e5e5e5 solid 1px;
	width:16.6%;
	margin-bottom:1em;
	text-align:center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
footer #brandList li:first-child {
	border-left:none!important;
}
footer .copyRight {
    display: block;
    text-align: center;
	font-size:11px;
    color: #FFF;
    padding: 2em 0;
	margin-top:2em;
    letter-spacing: 0.25em;
	background:#000;
}
@media screen and (max-width: 767px) {
footer #brandList {
	margin: 1em auto 1em;
	overflow:hidden;
}
footer #brandList .titBrandList{
	font-size:16px;
}
footer #brandList li {
	border-left:#e5e5e5 solid 1px;
	width:33.1%;
	height:50px;
}
footer #brandList li:nth-child(4) {
	border-left:none;
}
footer #brandList li img{
	width:60px;
}
footer .copyRight {
	font-size:8px;
}
}

/*============================================================
  BUTTON SMALL RIGHT
=============================================================*/
.btnSR a {
	font-size: 13px;
	display: block;
	float:right;
	color:#000;
	background: url(../img/icon_arrow_h.svg) no-repeat right center ;
	background-size:10px 10px;
	padding-right:15px;
	width:135px;
}
.btnSR a:hover {
	text-decoration: underline;
}
@media screen and (max-width: 767px) {
.btnSR a {
	font-size: 13px;
	text-align:center;
	display: block;
	float:none;
	color:#000;
	background: #ededed url(../img/icon_arrow_h.svg) no-repeat 90% center ;
	background-size:10px 10px;
	padding-top:15px;
	padding-bottom:15px;
	width:200px;
	margin: 0 auto;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
.btnSR a:hover {
	text-decoration:none;
}
}

.cf:after {
  content: ".";  /* 新しい要素を作る */
  display: block;  /* ブロックレベル要素に */
  clear: both;
  height: 0;
  visibility: hidden;
	font-size: 0.1em;
}
.cf {
  min-height: 1px;
}
 * html .cf {
  height: 1px;
  /*\*//*/
  height: auto;
  overflow: hidden;
  /**/
}

/*------------
クリアフィックス
-------------*/

.clearfix:after{
  content:"";
  display:block;
  clear:both;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

