#post_widget {
    margin: 0 auto;
}
.grid-item {
    z-index:10;
    background: #fff;
}
.grid-item .user-info {
    color: #222;
    padding: 5px;
}
.grid-item .user-info .heart {
    float: right;
    font-weight: bold;
    margin: 0;
}
.grid-item .user-info .heart i {
    margin-right: 5px;
    font-weight: normal;
}

#lean_overlay{
  position: fixed;
  z-index:10500;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  /* background: #000; */
  background-color:rgba(0,0,0,1)!important;
  display: none;
}

.modal {
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
    display: none;
    padding: 10px;
    width: 440px;
    height: auto;
}


.modal_close{
  position: absolute;
  top: -45px;
  right: -45px;
  display: block;
  width: 80px;
  height: 80px;
  z-index: 2;
}

.photo_postlink:hover img {
    opacity: .8;
    filter: alpha(opacity=80);
    -ms-filter: "alpha(opacity=80)";
}

@media screen and (max-width: 640px) {
.modal {
  width: 80vw !important;
  margin-left: -43vw !important;
  height: auto;
}
.modal_close {
  right: -20px;
}
}

.modal .user-info {
    color: #222;
    padding: 5px;
    overflow: hidden;
}

.modal .user-info .heart {
    float: right;
    font-weight: bold;
    margin: 0;
}

.modal .user-info .heart i {
    margin-right: 5px;
    font-weight: normal;
}

.modal .caption{
    font-size: 0.8em;
    margin: 0;
}

#cover {
    top: 0;
    z-index: 10000;
    background: #000;
    opacity: 0.2;
    width: 100%;
    height: 100%;
    position: absolute;
}

#post_more {
  border: 0;
  /*    background: #2a8473;*/
  background-color: rgba( 255, 255, 255, 0.5);
  width: 40%;
  font-size: 1em;
  border-radius: 0;
  padding: 15px 0;
  letter-spacing: 0.1em;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  border: solid #2a8473 1px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}
#post_more a {
    color: #2a8473;
    display: block;
}
#post_more:hover {
    opacity: 0.8;
}

 .head-links {
     float: left;
 }
 .head-links,
 .photo_modal {
     display: block;
     position: relative;
 }
 .head-links .photo_profile_shadow,
 .photo_modal .photo_profile_shadow{
     color: #fff;
     position: absolute;
     bottom: 1px;
     left: 5px;
     font-size: 14px;
 }
 .head-links .photo_profile_shadow span,
 .photo_modal .photo_profile_shadow span{
     line-height: 24px;
 }
 .head-links .photo_profile_shadow i,
 .photo_modal .photo_profile_shadow i{
     margin-right: 5px;
     font-size: 24px;
 }
 .photo_modal .photo_description {
     position: absolute;
     background-color: rgba(0,0,0,0.5);
     color: #fff;
     height: 100%;
     width: 100%;
     word-break: break-all;
     display: none;
     overflow: hidden;
 }

 .icon-ig .photo_modal .photo_description:after {
    content: "";
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 10%;
    height: 10%;
    max-width: 50px;
    max-height: 50px;
    background-image: url(../img/icon-ig.png);
    background-size: contain;
    background-repeat: no-repeat;
}
 .icon-tw .photo_modal .photo_description:after {
    content: "";
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 10%;
    height: 10%;
    max-width: 50px;
    max-height: 50px;
    background-image: url(../img/icon-tw.png);
    background-size: contain;
    background-repeat: no-repeat;
}
 .photo_modal .photo_description>.in {
     padding: 10px;
 }

 .user-info .photo_profile_h {
     color: #ffffff;
 }

/*181108追記*/
 .modal_close {
   background-image:url('../img/post_close.png');
   background-size:100%;
   background-position:center;
   background-repeat:no-repeat;
 }

 .modal_close img {
   display:none;
 }
